
/* General Layout Styles */
h1 {
	font-family: 'Open Sans', sans-serif;
	color: #D42F34;
	text-align: center;
	margin: 0px;
}


Header{
	font-size: 50px;
}

body {
	width: 100%;
	margin: 0 auto;
}

li {
	display: inline;
	padding: 0.5em;
}

p{
	Text-align: center;

}

.and{
	font-family: 'Playfair Display', serif;
	color: #86739D;
}

.blue{
	color: #86739D;

}


#bottomright{
	position: absolute;
	bottom: 0;
	right: 0;

}


#grad1 {
    height: 617px;
		background: #D42F34;
		background: linear-gradient(to top left, #D42F34, #86739D);

	}

	#animation1 {
		position: absolute;
		top:0;
		font-family: 'Open Sans', sans-serif;
		font-size: 100px;
		color: white;
		text-align: center;
		margin-left: 20px;
		animation-name: text111;
		animation-duration: 3s;
		animation-delay: 1s;
		animation-iteration-count: 1;
		animation-direction: normal;
		opacity: 0;


	}

	@keyframes text111 {
		0%   {left:0px; top:0px; opacity:1;}
    25%  {left:262px; top:0px; opacity:.5; }
    100% {left:0px; top:0px; opacity: 0;}

	}

	#animation2{
		position: absolute;
		font-family: 'Playfair Display', serif;
		font-size: 25px;
		color: white;
		text-align: left;
	  margin-left: 280px;
		margin-top: 100px;
		animation-name: text222;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-delay: 3s;
		animation-direction: normal;
		opacity: 0;
	}

	@keyframes text222 {
		0%   {left:0px; top:100px; opacity:1;}
    25%  {left:262px; top:100px; opacity:.5;}
    100% {left:0px; top:100px; opacity: 0;}

	}

	#animation3 {
		position: absolute;
		top:0;
		font-family: 'Open Sans', sans-serif;
		font-size: 100px;
		color: white;
		text-align: center;
		margin-left: 20px;
		animation-name: text111;
		animation-duration: 3s;
		animation-delay: 4s;
		animation-iteration-count: 1;
		animation-direction: normal;
		opacity: 0;


	}

	@keyframes text111 {
		0%   {left:0px; top:0px; opacity:1;}
    25%  {left:262px; top:0px; opacity:.5; }
    100% {left:0px; top:0px; opacity: 0;}

	}

	#animation4{
		position: absolute;
		font-family: 'Playfair Display', serif;
		font-size: 25px;
		color: white;
		text-align: left;
	  margin-left: 280px;
		margin-top: 100px;
		animation-name: text222;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-delay: 5s;
		animation-direction: normal;
		opacity: 0;
	}

	@keyframes text222 {
		0%   {left:0px; top:100px; opacity:1;}
    25%  {left:262px; top:100px; opacity:.5;}
    100% {left:0px; top:100px; opacity: 0;}

	}

	#animation5 {
		position: absolute;
		top:0;
		font-family: 'Open Sans', sans-serif;
		font-size: 100px;
		color: white;
		text-align: center;
		margin-left: 20px;
		animation-name: text111;
		animation-duration: 3s;
		animation-delay: 6s;
		animation-iteration-count: 1;
		animation-direction: normal;
		opacity: 0;


	}

	@keyframes text111 {
		0%   {left:0px; top:0px; opacity:1;}
		25%  {left:262px; top:0px; opacity:.5; }
		100% {left:0px; top:0px; opacity: 0;}

	}

	#animation6{
		position: absolute;
		font-family: 'Playfair Display', serif;
		font-size: 25px;
		color: white;
		text-align: left;
		margin-left: 280px;
		margin-top: 100px;
		animation-name: text222;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-delay: 7s;
		animation-direction: normal;
		opacity: 0;
	}

	@keyframes text222 {
		0%   {left:0px; top:100px; opacity:1;}
		25%  {left:262px; top:100px; opacity:.5;}
		100% {left:0px; top:100px; opacity: 0;}

	}

	#animation7 {
		position: absolute;
		top:0;
		font-family: 'Open Sans', sans-serif;
		font-size: 100px;
		color: white;
		text-align: center;
		margin-left: 20px;
		animation-name: text111;
		animation-duration: 3s;
		animation-delay: 8.5s;
		animation-iteration-count: 1;
		animation-direction: normal;
		opacity: 0;


	}

	@keyframes text111 {
		0%   {left:0px; top:0px; opacity:1;}
		25%  {left:262px; top:0px; opacity:.5; }
		100% {left:0px; top:0px; opacity: 0;}

	}

	#animation8{
		position: absolute;
		font-family: 'Playfair Display', serif;
		font-size: 25px;
		color: white;
		text-align: left;
		margin-left: 280px;
		margin-top: 100px;
		animation-name: text222;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-delay: 10s;
		animation-direction: normal;
		opacity: 0;
	}

	@keyframes text222 {
		0%   {left:0px; top:100px; opacity:1;}
		25%  {left:262px; top:100px; opacity:.5;}
		100% {left:0px; top:100px; opacity: 0;}

	}
	#animation9 {
		position: absolute;
		top:0;
		font-family: 'Open Sans', sans-serif;
		font-size: 100px;
		color: white;
		text-align: center;
		margin-left: 20px;
		animation-name: text111;
		animation-duration: 3s;
		animation-delay: 11.5s;
		animation-iteration-count: 1;
		animation-direction: normal;
		opacity: 0;


	}

	@keyframes text111 {
		0%   {left:0px; top:0px; opacity:1;}
		25%  {left:262px; top:0px; opacity:.5; }
		100% {left:0px; top:0px; opacity: 0;}

	}

	#animation10{
		position: absolute;
		font-family: 'Playfair Display', serif;
		font-size: 25px;
		color: white;
		text-align: left;
		margin-left: 280px;
		margin-top: 100px;
		animation-name: text222;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-delay: 13s;
		animation-direction: normal;
		opacity: 0;
	}

	@keyframes text222 {
		0%   {left:0px; top:100px; opacity:1;}
		25%  {left:262px; top:100px; opacity:.5;}
		100% {left:0px; top:100px; opacity: 0;}

	}

	#animation11 {
		position: absolute;
		top:0;
		font-family: 'Open Sans', sans-serif;
		font-size: 100px;
		color: white;
		text-align: center;
		margin-left: 20px;
		animation-name: flash;
		animation-duration: 1s;
		animation-delay: 15.5s;
		animation-iteration-count: 1;
		animation-direction: normal;
		opacity: 0;


	}

	@keyframes flash {
	  from,
	  50%,
	  to {
	    opacity: 1;
	  }

	  25%,
	  75% {
	    opacity: 0;
	  }
	}

	#animation12{
		position: absolute;
		font-family: 'Playfair Display', serif;
		font-size: 25px;
		color: white;
		text-align: left;
		margin-left: 280px;
		margin-top: 100px;
		animation-name: shake ;
		animation-duration: 1.5s;
		animation-iteration-count: 1;
		animation-delay: 17s;
		animation-direction: normal;
		opacity: 0;
	}

	@keyframes shake {
	  from,
	  to {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }

	  10%,
	  30%,
	  50%,
	  70%,
	  90% {
	    -webkit-transform: translate3d(-10px, 0, 0);
	    transform: translate3d(-10px, 0, 0);
			opacity:1;
	  }

	  20%,
	  40%,
	  60%,
	  80% {
	    -webkit-transform: translate3d(10px, 0, 0);
	    transform: translate3d(10px, 0, 0);
			opacity:.5;
	  }
	}

	#animation13 {
		position: absolute;
		top:0;
		font-family: 'Open Sans', sans-serif;
		font-size: 100px;
		color: white;
		text-align: center;
		margin-left: 60px;
		animation-name: tada;
		animation-duration: 1s;
		animation-delay: 19s;
		animation-iteration-count: 1;
		animation-direction: normal;
		opacity: 0;
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
		opacity: 1;
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		opacity:.5;
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		opacity:1;
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

#animation14{
	position: absolute;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	color: white;
	text-align: left;
	margin-left: 280px;
	margin-top: 100px;
	animation-name: text222;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 20s;
	animation-direction: normal;
	opacity: 0;
}

@keyframes text222 {
	0%   {left:0px; top:100px; opacity:1;}
	25%  {left:262px; top:100px; opacity:.5;}
	100% {left:0px; top:100px; opacity: 0;}

}

#animation15{
	position: absolute;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	color: white;
	text-align: left;
	margin-left: 280px;
	margin-top: 100px;
	animation-name: text222;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-delay: 21s;
	animation-direction: normal;
	opacity: 0;
}

#animation16{
	position: absolute;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	color: white;
	text-align: left;
	margin-left: 280px;
	margin-top: 130px;
	animation-name: text222;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-delay: 21.5s;
	animation-direction: normal;
	opacity: 0;
}

#animation17 {
	position: absolute;
	top:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 100px;
	color: white;
	text-align: center;
	margin-left: 60px;
	animation-name: flash;
	animation-duration: 1s;
	animation-delay: 22.5s;
	animation-iteration-count: 1;
	animation-direction: normal;
	opacity: 0;
}

#animation18{
	position: absolute;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	color: white;
	text-align: left;
	margin-left: 280px;
	margin-top: 100px;
	animation-name: text222;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-delay: 24s;
	animation-direction: normal;
	opacity: 0;
}

#animation19 {
	position: absolute;
	top:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 100px;
	color: white;
	text-align: center;
	margin-left: 20px;
	animation-name: text111;
	animation-duration: 2s;
	animation-delay: 26s;
	animation-iteration-count: 1;
	animation-direction: normal;
	opacity: 0;


}

#animation20{
	position: absolute;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	color: white;
	text-align: left;
	margin-left: 280px;
	margin-top: 100px;
	animation-name: tada;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 27s;
	animation-direction: normal;
	opacity: 0;
}

#animation21 {
	position: absolute;
	top:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 100px;
	color: white;
	text-align: center;
	margin-left: 20px;
	animation-name: text111;
	animation-duration: 2s;
	animation-delay: 28s;
	animation-iteration-count: 1;
	animation-direction: normal;
	opacity: 0;


}

#animation22{
	position: absolute;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	color: white;
	text-align: left;
	margin-left: 280px;
	margin-top: 100px;
	animation-name: tada;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 29s;
	animation-direction: normal;
	opacity: 0;
}

#animation23 {
	position: absolute;
	top:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 100px;
	color: white;
	text-align: center;
	margin-left: 30px;
	animation-name: flash;
	animation-duration: 2.2s;
	animation-delay: 30s;
	animation-iteration-count: 1;
	animation-direction: normal;
	opacity: 0;
}


#animation24 {
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-size: 100px;
	color: white;
	text-align: center;
	margin-left: 30px;
	margin-top:  20px;
	animation-name: jackInTheBox;
	animation-duration: 1.2s;
	animation-delay: 31s;
	animation-iteration-count: 1;
	animation-direction: normal;
	opacity: 0;
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);

  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#animation25{
	position: absolute;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	color: white;
	text-align: left;
	margin-left: 280px;
	margin-top: 100px;
	animation-name: text222;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 32.2s;
	animation-direction: normal;
	opacity: 0;
}

#animation26{
	position: absolute;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	color: white;
	text-align: left;
	margin-left: 280px;
	margin-top: 130px;
	animation-name: text222;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-delay: 33s;
	animation-direction: normal;
	opacity: 0;
}
